<div class="wrapper">
    <nav class="lil-nav">
        <a href="#image-1" (click)="waterOrder()">
            <img class="lil-nav__img" src="../../../assets/images/water.jpg" alt="Yosemite" />
        </a>
        <a href="#image-1" (click)="waterOrder()">
            <img class="lil-nav__img" src="../../../assets/images/water.jpg" alt="Yosemite" />
        </a>
        <a routerLink="/my;search=clean">
            <img class="lil-nav__img"
                src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/All_SBC_Cleaning_App_2_680X540_25thDec.jpg"
                alt="Yosemite" />
        </a>
        <a routerLink="/my;search=fruits">
            <img class="lil-nav__img"
                src="https://www.bigbasket.com/media/customPage/355c27b8-a44f-4900-a390-8e82c69b8021/b12be8ff-7c76-45da-baef-123bc860e05e/860c245d-24f2-4a61-ad0b-b25176bd5c89/T1_All_Fruits_275x184_30thSep.jpg"
                alt="Yosemite" />
        </a>
        <a [routerLink]="['my']">
            <img class="lil-nav__img"
                src="https://www.bigbasket.com/media/customPage/355c27b8-a44f-4900-a390-8e82c69b8021/b12be8ff-7c76-45da-baef-123bc860e05e/860c245d-24f2-4a61-ad0b-b25176bd5c89/T1_All_Cuts-Sprouts_275x184_30thSep.jpg"
                alt="Yosemite" />
        </a>
    </nav>
</div>