.grid-container {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: auto auto auto;
  font-size: 30px;
  /* text-align: center; */
  /* margin-top: 10px; */
  grid-row-gap: 4px;
  grid-column-gap: 5px;
}

.grid-item {
  /* background-color: dodgerblue; */
  background-color: white;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 0%), 0 3px 3px -2px rgb(0 0 0 / 0%),
    0 1px 8px 0 rgb(0 0 0 / 13%);
  /* margin-bottom: 5px; */
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .grid-container {
    /* flex-direction: column; */
    grid-template-columns: auto auto;
  }
}

.flex-action-container {
  display: flex;
}

.flex-action-container > .flex-right {
  padding: 5px;
  font-size: 15px;
  margin-left: auto;
}

.flex-action-container > .flex-left {
  padding: 10px;
  text-align: center;
  margin-right: auto;
  font-size: 15px;
  font-weight: 500;
}

.overlay {
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: #ffff0042;
}

.overlay > .Content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.content > .product-img {
  padding: 6px;
  display: flex;
  background-color: #ffffff52;
  flex-direction: column;
  margin: 4px 8%;
}

.content > .add-to-inventory {
  display: block;
  padding: 10px 10px 10px 0px;
}

.content > .product-img > img {
  max-width: 100%;
  vertical-align: baseline;
}

.Content > .modal {
  /* min-height: 239px; */
  width: 75%;
  background-color: white;
  position: relative;
  display: flex;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 0%), 0 3px 3px -2px rgb(0 0 0 / 0%),
    0 1px 8px 0 rgb(0 0 0 / 13%);
  margin-bottom: 5px;
}

.input-group > select {
  width: 100%;
  margin-bottom: 10px;
}

.input-group {
  /* display: grid;
  grid-template-columns: 20% auto; */
}
.input-group > .btn {
  line-height: 1;
  /* padding: 0px; */
}

.main-container {
  padding: 5px;
  margin: 0;
}

.btn.actn {
  line-height: 1;
}

.content {
  flex: 28%;
  padding: 11px 0px;
}

.overlay-hidden {
  overflow: hidden;
}

.tick-icon {
  width: 30px;
  position: absolute;
  left: 30%;
  top: -7px;
}
