<!-- using this search bx for few routes only 
#todo route bases back callbak to be sent to the apporiate parent comonenetS
-->
<div class="search-box" id="#search-box">
  <div class="input">
    <i class="fa fa-search" aria-hidden="true" *ngIf="!isloading"> </i>
    <svg xmlns="http://www.w3.org/2000/svg" *ngIf="isloading" width="50" height="50" viewBox="0 0 50 50" class="isLoading">
      <path fill="#d8c93d"
        d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z">
        <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.5s"
          repeatCount="indefinite" />
      </path>
    </svg>
    <div class="text" contenteditable="true" #searchQ (click)="clearText($event)" (keyup)="onKeyUp($event)">
      <div class="placeholder ">
        {{ placeholder || "Search all the products" }}
      <span class="blink_me">|</span>
      </div>
    </div>
  </div>
  <div class="action" [hidden]="!_showCancleBtn">
    <button (click)="onBlur($event, true)">Cancle</button>
  </div>
  <span></span>
</div>

<div class="floating-dropdown" *ngIf="!isFalt">
  <div class="search-dropdown" *ngIf="showDowpdown" (mouseleave)="mouseLeave($event)">
    <div class="fa item" *ngFor="let searchTerms of dropdownsearchResul; let i = index"
      (click)="gotoProductList(searchTerms)">
      <div class="search-bar">
        <img data-src="{{ searchTerms.image }}" />
        {{ searchTerms.name | sanitizeme }}
      </div>
    </div>

    <div class="fa item last" (click)="mouseLeave($event)"></div>
  </div>
</div>