<div class="main-container">
  <div class="top-quick-search">

  </div>
  <div class="item-list">
    <div class="flex-action-container">
      <div class="flex-left">
        20 items
      </div>
      <div class="flex-right">
        <button class="btn actn"> Sort </button>
        <button class="btn actn"> Filter</button>

      </div>

    </div>
    <div class="flex-list-container">

      <div class="list-item">
        <items-in-list>1</items-in-list>
        <!-- 1 -->
      </div>

      <div class="list-item">
        <items-in-list>2</items-in-list>
      </div>
    </div>
  </div>

</div>