<div class="main-container">
  <div class="content">
    <div class="product-img">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgMo9yphqX8wtozYl4lDh65X-5VltvWD2Os-kFjkym1O9scq6D-BGVbD8t&usqp=CAc" />



    </div>
    <div class="product-discp">
      <p class="brad-name">Vasline</p>
      <p class="text">Intesive care deep moisture body lotion</p>
      <div class="rating">
        <span class="rating-value"
          style="background-color: rgb(227, 235, 218); color: rgb(104, 159, 56);"> 4.3 
          <svg
            xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 26 26">
            <path fill="#689f38" fill-rule="nonzero"
              d="M19.72 16.183l.9 5.254a2 2 0 0 1-2.902 2.108l-4.485-2.358a.5.5 0 0 0-.466 0l-4.485 2.358a2 2 0 0 1-2.902-2.108l.9-5.254-3.816-3.72A2 2 0 0 1 3.572 9.05l5.275-.767 2.36-4.78a2 2 0 0 1 3.586 0l2.36 4.78 5.275.767a2 2 0 0 1 1.108 3.411l-3.817 3.721z">
            </path>
          </svg>
          
      </span> 
      <span class="rating-count"> 207 Ratings</span></div>

      <select class="btn option">
        <option>None</option>
      </select>
      <div class="price"> $200 <span class="old">$300</span></div>


    </div>

  </div>
  <div class="card-footer-action">
    <div class="sales-batch">
      Super Sale
    </div>
    <button class="btn add-to-cart">Add</button>
  </div>

</div>