<div class="container">
  <!-- selevety time alert component -->
  <!-- <div class="flex-rows" *ngIf="currentLoggedinUser == undefined">
    <div class="delivery-slot-alert">
      <div class="info">
        <div class="text btn" style="   
            display: inline-block;
            width: 49%;
            padding: 0px 10px;
            background-color: #dac61b;
        ">
          <i class="fa fa-truck"></i> Seller Signup
        </div>
        <div (click)="userSignup()" class="next-slot btn" style=" 
              display: inline-block;
              width: 49%;
              padding: 0px 10px;
              background-color: #e2cf2bd1;
              margin: 0px 3px;
            ">
          <i class="fa fa-bell-o"></i>
          <span class="time"> User Signup</span>
        </div>
      </div>
    </div>
  </div> -->

  <div class="flex-rows">
    <div class="delivery-slot-alert">
      <div *ngIf="currentLoggedinUser?.isMer == undefined">
        <div class="info">
          <div class="text">
            Your next available slot <i class="fa fa-bell-o"></i>
          </div>
        </div>
        <div class="next-slot">
          <span class="fa fa-truck"></span>
          <span class="time"> Today 8:00AM - 9:00PM</span>
        </div>
      </div>
      <!-- <div *ngIf="currentLoggedinUser?.isMer == true">
        set you delivery time
      </div> -->

    </div>
  </div>

  <!-- shop by category component -->


  <div class="flex-rows" *ngIf="currentLoggedinUser?.isMer == undefined">
    <div class="delivery-slot-alert">
      <div class="info">
        <p class="text btn" style="   
            display: inline-block;
            padding: 0px 10px;
        " >
        Get All You Deliveries Together
      </p>
      </div>
    </div>
  </div>
  <div class="flex-rows" *ngIf="currentLoggedinUser?.isMer == undefined">
    <p>Utility </p>
    <div class="delivery-slot-alert">
      <div class="info">
      <img routerLink="merchant/calc" style="width: 54px;"
        [lazyLoad]='"https://icons8.com/preloaders/preloaders/374/Calculator.gif"' />
      
      <!-- <img routerLink="merchant/calc" style="width: 54px;"
                      [lazyLoad]="'https://icons8.com/preloaders/preloaders/374/Calculator.gif'" /> -->
      </div>
    </div>
  </div>
  <crousal> </crousal>


  <div class="flex-rows" *ngIf="currentLoggedinUser?.isMer != true">
    <div class="section-header">
      <img class="banner-art left" 
     [lazyLoad]='"https://th.bing.com/th/id/OIP.rKFw0gbtsUaSys1i7QY_MQHaHa?w=179&h=180&c=7&o=5&dpr=1.25&pid=1.7"' />

      <h4 class="header-text">Shop By Category</h4>

      <img class="banner-art right"
       [lazyLoad]="'https://th.bing.com/th/id/OIP.rKFw0gbtsUaSys1i7QY_MQHaHa?w=179&h=180&c=7&o=5&dpr=1.25&pid=1.7'" />
    </div>
    <div class="grid-container-two">
      <div class="item1">
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/customPage/355c27b8-a44f-4900-a390-8e82c69b8021/b12be8ff-7c76-45da-baef-123bc860e05e/860c245d-24f2-4a61-ad0b-b25176bd5c89/T1_All_Fruits_275x184_30thSep.jpg'" />
        </a>
      </div>
      <div class="item2">
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/customPage/355c27b8-a44f-4900-a390-8e82c69b8021/b12be8ff-7c76-45da-baef-123bc860e05e/860c245d-24f2-4a61-ad0b-b25176bd5c89/T1_All_Cuts-Sprouts_275x184_30thSep.jpg'" />
        </a>
      </div>
    </div>

    <div class="grid-container-three">
      <div class="item1">
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_FnV_448x480_1_10thAug.jpg'" />
        </a>
      </div>
      <div class="item2">
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_FnV_448x480_1_10thAug.jpg'" />
        </a>
      </div>
      <div>
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_FOM_448x480_3_10thAug.jpg'" />
        </a>
      </div>
      <div>
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_BCD_448x480_4_10thAug.jpg'" />
        </a>
      </div>
      <div>
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_CHH_448x480_9_10thAug.jpg'" />
        </a>
      </div>
      <div>
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_BabyCare_448x480_11_10thAug.jpg'" />
        </a>
      </div>
      <div>
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_GWF_448x480_10_10thAug.jpg'" />
        </a>
      </div>
      <div>
        <a routerLink="my">
          <img
            [lazyLoad]="'https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_KGP_448x480_8_10thAug.jpg'" />
        </a>
      </div>
    </div>
  </div>


  <div *ngIf="currentLoggedinUser?.isMer == true" style="padding: 13px;">
  
    (20% profile complete)
  
    complete your profile details and check your inventory
  
  </div>



</div>