<div class="container">
  <!-- selevety time alert component -->
  <!-- <div class="flex-rows" *ngIf="currentLoggedinUser == undefined">
    <div class="delivery-slot-alert">
      <div class="info">
        <div class="text btn" style="   
            display: inline-block;
            width: 49%;
            padding: 0px 10px;
            background-color: #dac61b;
        ">
          <i class="fa fa-truck"></i> Seller Signup
        </div>
        <div (click)="userSignup()" class="next-slot btn" style=" 
              display: inline-block;
              width: 49%;
              padding: 0px 10px;
              background-color: #e2cf2bd1;
              margin: 0px 3px;
            ">
          <i class="fa fa-bell-o"></i>
          <span class="time"> User Signup</span>
        </div>
      </div>
    </div>
  </div> -->

  <div class="flex-rows">
    <div class="delivery-slot-alert">
      <div *ngIf="user?.isMer == undefined">
        <div class="info">
          <div class="text">
            Your next available slot <i class="fa fa-bell-o"></i>
          </div>
        </div>
        <div class="next-slot">
          <span class="fa fa-truck"></span>
          <span class="time"> Today 8:00AM - 9:00PM</span>
        </div>
      </div>
      <!-- <div *ngIf="currentLoggedinUser?.isMer == true">
        set you delivery time
      </div> -->

    </div>
  </div>

  <!-- shop by category component -->


  <div class="flex-rows" *ngIf="user?.isMer == true">
    <div class="delivery-slot-alert">
      <div class="info">
        <p class="text btn" style="   
            display: inline-block;
            padding: 0px 10px;
        ">
          Get All You Deliveries Together
        </p>
      </div>
    </div>
  </div>
  <div class="flex-rows" *ngIf="user?.isMer == true">
    <p>Utility </p>
    <div class="delivery-slot-alert">
      <div class="info">
        <img routerLink="merchant/calc" style="width: 54px;"
          [lazyLoad]='"https://icons8.com/preloaders/preloaders/374/Calculator.gif"' />
      </div>
    </div>
  </div>
  <crousal> </crousal>
  <div class="flex-rows">
    <category></category>
  </div>
  <div *ngIf="user?.isMer == true" style="padding: 13px;">
    (20% profile complete)
    complete your profile details and check your inventory
  </div>
</div>