<div class="container">

  <!-- selevety time alert component -->
  <div class="flex-rows">
    <div class="delivery-slot-alert">
      <div class="info">
        <div class="text">Your next available slot <i class="fa  fa-bell-o"></i> </div>
      </div>
      <div class="next-slot">
        <span class="  fa fa-truck"></span>
        <span class="time"> Today 5:00PM - 7:00PM</span></div>
    </div>
  </div>


  <!-- shop by category component -->

  <div class="flex-rows">
    <div class="section-header">
      <img class="banner-art left" src="https://th.bing.com/th/id/OIP.rKFw0gbtsUaSys1i7QY_MQHaHa?w=179&h=180&c=7&o=5&dpr=1.25&pid=1.7"/>

      <h4 class="header-text">Shop By Category</h4>
      
      <img class="banner-art right" src="https://th.bing.com/th/id/OIP.rKFw0gbtsUaSys1i7QY_MQHaHa?w=179&h=180&c=7&o=5&dpr=1.25&pid=1.7"/>

    </div>
    <div class="grid-container-two">
      <div class="item1">
        <img src="//www.bigbasket.com/media/customPage/355c27b8-a44f-4900-a390-8e82c69b8021/b12be8ff-7c76-45da-baef-123bc860e05e/860c245d-24f2-4a61-ad0b-b25176bd5c89/T1_All_Fruits_275x184_30thSep.jpg"/>

      </div>
      <div class="item2">
        <img src="//www.bigbasket.com/media/customPage/355c27b8-a44f-4900-a390-8e82c69b8021/b12be8ff-7c76-45da-baef-123bc860e05e/860c245d-24f2-4a61-ad0b-b25176bd5c89/T1_All_Cuts-Sprouts_275x184_30thSep.jpg"/>
      </div>
    </div>


    <div class="grid-container-three">
      <div class="item1">
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_FnV_448x480_1_10thAug.jpg"/>

      </div>
      <div class="item2">
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_FnV_448x480_1_10thAug.jpg"/>
      </div>
      <div>
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_FOM_448x480_3_10thAug.jpg"/>
      </div>  
      <div>
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_BCD_448x480_4_10thAug.jpg"/>
      </div>
      <div>
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_CHH_448x480_9_10thAug.jpg"/>
      </div>
      <div>
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_BabyCare_448x480_11_10thAug.jpg"/>
      </div>
      <div>
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_GWF_448x480_10_10thAug.jpg"/>
      </div>
      <div>
        <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/NLI_SBC_KGP_448x480_8_10thAug.jpg"/>
      </div>  
    </div>

  </div>
</div>