<div class="container">
  <section class="profile">
    <header class="profile__header">
      <div class="profile__avatar-container">
        <img [src]="userDetail?.profile?.picture" class="profile__avatar" />
      </div>
      <div class="profile__info">
        <div class="profile__name">
          <h1 class="profile__title">{{userDetail?.profile?.name}}</h1>
        </div>
        <ul class="profile__numbers">
          <!-- <li class="profile__posts">
            <span class="profile__number u-fat-text">10</span> posts
          </li>
          <li class="profile__followers">
            <span class="profile__number u-fat-text">40</span> followers
          </li>
          <li class="profile__following">
            <span class="profile__number u-fat-text">134</span> following
          </li> -->
        </ul>
        <div class="profile__bio">
          <p class="profile__full-bio"> Hey I am {{userDetail?.profile?.name}} Buy mylooks  </p>
          <!-- <a href="http://mylooks.com" class="profile__link u-fat-text">Mylooks.co</a> -->
        </div>
      </div>
    </header>

  </section>

  <div class="row justify-content-md-center">
    <div class="col-sm-10 px-auto ">
      <div class="row px-auto">
        <div class="col-6  px-0 mb-4 " *ngFor="let item of userBlogPhotos">
          <div class="mr-1 ml-1 border">
              <div class="image">
                  <img class="profile-picture__picture img" [src]="item?.images?.standard_resolution?.url" />
                </div>
                <div class="photo__info">
      
                  <a *ngFor="let product of item.productLink" target="_blank" [href]="product.productLink">
                    <img src="{{product.image}}" class="profile__avatar product_image" />
                  </a>
      
                </div>
          </div>
          
        </div>

      </div>
    </div>

  </div>


</div>