li.grid-item {
  list-style-type: none;
  background-color: #ffffffcf;
  padding: 5px;
  border-top: ridge;
  display: grid;
  grid-template-columns: 100px auto;
}
ul.grid-container {
  padding: 0;
  text-decoration: none;
  width: 100%;
}

.new-order::before {
  /* content: url("https://storage.googleapis.com/societystore.appspot.com/cdn/img/new.png"); */
  background-image: url("https://storage.googleapis.com/societystore.appspot.com/cdn/img/new.png");
  background-size: 31px 38px;
  display: inline-block;
  width: 31px;
  height: 38px;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
}

.container {
  padding: 0;
}

li.grid-item > img {
  width: 91px;
}

li.grid-item > div > .btn {
  font-weight: bolder;
}
li.grid-item > div > p {
  /* flex: auto; */
  line-height: 1;
}
.page-heading {
  text-align: center;
}

.overlay {
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  bottom: 0;
  background-color: #ffff0042;
  top: 12%;
}

.overlay > .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  max-height: 58vh;
}

.overlay > .content > .product-img {
  padding: 6px;
  display: inline-block;
  flex: 31%;
  background-color: #ffffff52;
  flex-direction: column;
  align-self: center;
}

.content > .modal {
  width: 82%;
  background-color: white;
  position: relative;
  display: flex;
  overflow-y: scroll;
  padding: 10px;  
}

.modal > .content {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.modal > .content > img {
  border-radius: 50%;
}

.overlay-hidden {
  overflow: hidden;
}

.grid-item-container {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: auto auto;
  font-size: 30px;
  /* text-align: center; */
  /* margin-top: 10px; */
  grid-row-gap: 4px;
  grid-column-gap: 5px;
  width: 100%;
}

.grid-items {
  /* background-color: dodgerblue; */
  background-color: white;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .grid-item-container {
    /* flex-direction: column; */
    grid-template-columns: auto;
  }
}
