.main {
  margin-top: 18px;
}

.footer-nav {
  display: flex;
  padding: 5px; 
  flex-flow: wrap;
  text-align: center;
}

.footer-nav > div {
  flex: 25%;
  height: 35px;
}
.nav-footer-main {
  width: 100%;
  background-color: #b09e64eb;
}
.fa,
.icon {
  font-size: 15px;
  text-decoration: none;
  color: unset;
  display: block;
}

.icon::before {
  display: block;
  font-size: 1.3em;
}

@media(max-width:700px){
  body{
    font-size: 12px !important;
  }
  .container{
    margin: 0;
    padding: 0 !important;
  }
  .main{
    margin-top: 20px;
  }
}
.container{
  padding:4px;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fed6;
  
  margin-top: 80px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellowr;

  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 30px;
}
