<div calss="container">


    <app-nav></app-nav>
    <div class="main mb-2">
        <router-outlet></router-outlet>
    </div>

    <!-- fix this -->
    <br>
    <br>


    <footer class="nav-footer-main" [hidden]="scrollDirection=='DOWN'">
        <div class="footer-nav">
            
            <div class="menu">
                <a class="fa fa-home icon" href="/">Home</a>
            </div>

            <div class="menu">
                <a class="fa fa-th icon" href="/"> Category</a>
            </div>
            <div class="menu">
                <a class="fa fa-search icon" href="/"> search</a>
            </div>

            <div class="menu">
                <a class="fa fa-shopping-cart icon" href="/cart">Cart</a>
                
            </div>
        </div>
    </footer>


</div>