<div calss="container" (click)="fullscreenmodes($event)">
  <div class="main mb-2 container">
    <app-nav [isScrolling]="scrollStop"></app-nav>
  </div>
  <div class="pre-loader" *ngIf="!removeLoader">
    <img src="../assets/images/tree.png">
  
  </div>
  <div class="main mb-2 container" *ngIf="!userDetailLoading && removeLoader">
    <router-outlet></router-outlet>
  </div>

  <!-- fix this -->
  <br />
  <br />
  <!-- 
  <h1 style="text-align: center">welcome you your personal store</h1>
  <p style="text-align: center;text-transform: capitalize;">{{ user?.profile?.name }}</p> -->

  <footer class="nav-footer-main">
    <div class="footer-nav" *ngIf="!user?.isMer">
      <!-- change these links to router link -->
      <div class="menu">
        <a class="fa fa-home icon" routerLink="">Home</a>
      </div>

      <div class="menu">
        <a class="fa fa-th icon" routerLink="">Category</a>
      </div>
      <div class="menu">
        <i class="fa fa-search icon" (click)="openSearch()"> search</i>
      </div>

      <div class="menu">
        <a class="fa fa-shopping-cart icon" routerLink="cart">Cart</a>
      </div>
    </div>

    <div class="footer-nav" *ngIf="user?.isMer">
      <!-- change these links to router link -->
      <div class="menu">
        <a class="fa fa-home icon" routerLink="merchantHome">Inventory</a>
      </div>

      <div class="menu">
        <a class="fa fa-th icon" routerLink="merchantOrder">My Orders</a>
      </div>
      <div class="menu">
        <i class="fa fa-search icon" routerLink="merchantPendingPayment">Payment
        </i>
      </div>
      <div class="menu">
        <a class="fa fa-shopping-cart icon" routerLink="merchantTodayTotal">Todays Total</a>
      </div>
    </div>
  </footer>
</div>