
<!-- using this search bx for few routes only 
#todo route bases back callbak to be sent to the apporiate parent comonenetS
-->
<div class="search-box">
<div class="input">
  <i class="fa fa-search" aria-hidden="true"> </i>

  <div class="text" contenteditable="true" #searchQ (blur)="onBlur($event)" (click)="clearText($event)" (keyup)="onKeyUp($event)" > 
    <div class="placeholder">
     Search all the products
    </div>  
  </div>
  <div class="search-dropdown" *ngIf="showDowpdown">
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
    <div class="fa item"> Potato </div>
   

  </div>

</div>
<div class="action" [hidden]="!_showCancleBtn">
  <button > Cancle </button>
</div>

</div>