.search-box {
  display: flex;
  width: 100%;
  /* padding:10px;     */
  position: relative;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 0%), 0 3px 3px -2px rgb(0 0 0 / 0%),
    0 1px 8px 0 rgb(0 0 0 / 13%);
  margin-bottom: 5px;
}
.search-box > .input {
  flex: 100%;
  background-color: white;
  border-radius: 6px;
  margin-right: 5px;
  position: relative;
  padding-left: 6px;
}

.search-box > .action {
  flex: 10%;
}

.action > button {
  border-radius: 12px;
  box-sizing: border-box;
  height: 100%;
  background-color: transparent;
  border: none;
  font-weight: 600;
}
.text {
  display: inline-flex;
  outline-color: transparent;
  line-height: 2;
  vertical-align: middle;
  width: calc(100% - 21px);
}

.search-dropdown {
  display: block;
  position: absolute;
  background-color: #fdfefff2;
  left: 0;
  border-radius: 4px;
  width: 89vw;
  overflow: scroll;
  margin-left: -5px;
  padding-right: 0px;
  max-height: 73vh;
  padding-top: 8px;
}

/* height: 100vh; */

.search-dropdown > .item {
  border-bottom: 1px solid #ffe7e7;
  width: 100%;
  height: 31px;
  padding-left: 17px;
  float: right;
  margin: 0px 9px;
}

.item::after {
  content: "\f062";
  float: right;
  transform: rotate(-45deg);
  font-size: small;
  padding-right: 17px;
}

.overlay {
  width: 100vw;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 0;
  overflow: scroll;
  left: 0;
  background-color: #f0f8ff00;
}

.floating-dropdown {
  display: block;
  width: 100vw;
  margin-top: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.item.last {
  height: 100vh !important;
  background-color: #000000de;
}

.placeholder {
  font-size: 11px;
}

.search-bar > img {
  vertical-align: middle;
  max-width: 44px;
  max-height: 29px;
  border-style: none;
}

.search-bar {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
}
.item:hover {
  border: 1px solid red !important;
}

.placeholder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
