div,
button,
p {
  font-family: Orbitron;
}

#calculator {
  height: 428px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfd8d0;
  border: 2px solid #908b85;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68),
    inset -1px -6px 12px 0.1px #89847e;
  transform: scale(1.12);
}

#title {
  padding-top: 10px;
  padding-bottom: 10px;
}

#entrybox {
  width: 85%;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #b4b39d;
  border-radius: 6px;
  background-color: #c3c2ab;
  margin-top: 10px;
}

#entry {
  margin-right: 10px;
  font-size: 35px;
}

#buttons {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #3a3a3a;
  margin: 0 4px 10px 8px;
  height: 40px;
  width: 50px;
  box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
  color: white;
}

button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

.row {
  margin-top: 20px;
}

#topAdjust {
  margin-top: -52px;
}

#equalButton {
  position: absolute;
  margin-left: 12px;
  margin-top: -50px;
  height: 90px;
}

#zeroButton {
  width: 117px;
}

.red {
  font-size: 14px;
  background-color: #a72d45;
  box-shadow: 0px 3px 0px 0px #671c2a;
}

#footer {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  font-size: 5px;
  font-weight: normal;
  margin-top: 11px;
  width: 100%;
  height: 40px;
}

button,
button:hover,
button:active,
button:visited {
  text-decoration: none !important;
  outline: none !important;
}

a,
a:hover,
a:active,
a:visited {
  color: #922031;
  text-decoration: none !important;
  outline: none !important;
}

#history {
  transform: translate(-13px, -17px);
  position: relative;
  height: 13px;
  bottom: 5px;
  margin-right: 14px;
  color: #8b8b7b;
  font-size: 12px;
}

.order {
  width: 77%;
  font-size: 18px;
  background-color: #6fa72d;
  box-shadow: 0px 3px 0px 0px #35671c;
}

.overlay {
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  bottom: 0;
  background-color: #ffff0042;
  top: 12%;
}

.overlay > .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  max-height: 58vh;
}

.overlay > .content > .product-img {
  padding: 6px;
  display: inline-block;
  flex: 31%;
  background-color: #ffffff52;
  flex-direction: column;
  align-self: center;
}

.content > .modal {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  overflow-y: scroll;
  padding: 10px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 0%), 0 3px 3px -2px rgb(0 0 0 / 0%),
    0 1px 8px 0 rgb(0 0 0 / 13%);
  margin-bottom: 5px;
}

.modal > .content {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.modal > .content > img {
  border-radius: 50%;
}

.overlay-hidden {
  overflow: hidden;
}

.grid-item-container {
  display: grid;
  padding-top: 17px;
  grid-gap: 35px;
}
.upi-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.upi-list > li {
  border-top: 1px ridge;
  border-bottom: 1px ridge;
  padding: 6px 7px;
  text-align: initial;
}
.payment-confirm {
  list-style-type: none;
}

.payment-confirm > li {
  text-align: initial;
}

.payment-confirm > li > label {
  width: 40%;
  text-align: end;
}
.grid-items {
  width: 87vw;
  font-size: 13px;
  box-shadow: none !important;
}

.search-list {
  margin-top: 15px;
}

.grid-items.confirm {
  text-align: center;
}
