<div class='container'>
    <div id='calculator'>

        <!-- TITLE -->



        <!-- ENTRY BOX -->

        <div id='entrybox' class='text-right'>
            <div id='entry'>
                <p id='answer' #total>0</p>
            </div>
            <div id='history'>
                <p>0</p>
            </div>
        </div>

        <!-- BUTTONS -->

        <div id='buttons'>

            <button class='red' value='ac'>AC</button>
            <button class='red' value='ce'>CE</button>
            <button value='/'>&divide;</button>
            <button value='*'>x</button>

            <button value='7'>7</button>
            <button value='8'>8</button>
            <button value='9'>9</button>
            <button value='-'>-</button>

            <button value='4'>4</button>
            <button value='5'>5</button>
            <button value='6'>6</button>
            <button value='+'>+</button>


            <button value='1'>1</button>
            <button value='2'>2</button>
            <button value='3'>3</button>
            <button class='invisible'>N</button>

            <button id='zeroButton' value='0'>0</button>
            <button value='.'>.</button>
            <button id='equalButton' value='='>=</button>

            <div id='title' class='text-center'>
                <!-- <h5><b>ELECTRONIC CALCULATOR</b></h5> -->
                <button class="btn red order create-order" (click)="openConfirmation(120)">Create Order</button>
            </div>

        </div>
        <!-- end buttons -->
        <!-- <div id='tester'> -->

        <!-- </div> -->
    </div>
    <!-- end calculator -->
</div>

<!-- end container -->

<footer id="footer" class="text-center">
    <div class="container">
        Designed & Coded by
        <a href="https://www.linkedin.com/in/justin-woodward-891772118" target="_blank">
            Justin Woodward</a>
    </div>
</footer>
<div class="create-order">
    <div class="overlay" (click)="hideOverlay($event)" *ngIf="showOverlay">
        <div class="content" (click)="prevent($event)">
            <div class="modal">
                <!-- <div  > -->
                <!-- <items-in-list class="content" *ngFor="let items of orderItems" [item]="items" [disabled]="true"></items-in-list> -->
                <!-- </div> -->
                <div class="grid-item-container">
                    <div class="grid-items" *ngIf="!upiSelected">
                        <product-search [isFlat]=true [Qurl]="'/api/search/gvpa?ed=3&q='" (searchResult)="upiList($event)"
                            [placeholder]="'Search/Add  UPI Address'" (isLoading)="isloading($event)"></product-search>
                        <div class="search-list">
                            <ul class="upi-list">
                                <li *ngFor="let upi of searchResult; let i = index" (click)="selectedUpi(upi)">
                                    {{upi.name}}
                                    {{upi.Vpa}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-items confirm" *ngIf="upiSelected">
                        <ul class="payment-confirm">
                            <li>
                                <label>Amoun : </label> {{newOrder.amount}}
                            </li>
                            <li>
                                <label>Name : </label> {{newOrder.upi.name}}
                            </li>
                            <li>
                                <label>Upi Address: </label>{{newOrder.upi.Vpa}}
                            </li>
                        </ul>
                    
                        <button class="btn red order" [disabled]="newOrder?.amount<=0 || newOrder?.amount==''">Take Payment</button>
                        <a class="btn btn-primary" style="" id="paylink"
                            href="upi://pay?pa=8116299165@ybl&pn=apurbamondal&tn=undefined&am=200"><i class="fa fa-money"></i>
                            <span data-i18n="upiqrc-btn-pay">Pay apurbamondal using UPI</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>