.login_avatar {
  width: 28px;
  border-radius: 50%;
}
.profile_menu_image {
  cursor: pointer;
}
.humbug > div {
  width: 21px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}
.menu-bar {
  display: flex;
  flex: 1;
}

.menu-bar > .humbug {
  flex: 10%;
}
.menu-bar > .navbar-brand {
  flex: 90%;
}
.navbar-brand {
  font-size: 3rem;
  padding: 0;
  padding-left: 12px;
  align-self: center;
  font-weight: bolder;
  font-size: 22px;
}
.container {
  padding-bottom: 5px;
}

.p-l-r-20 {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 700px) {
  .search-box {
    display: none;
  }
}
.dropdown-item {
  padding: 5px;
  font-size: 13px;
}

.dropdown-menu {
  min-width: 0;
}

.center-text {
  flex: 8;
  text-align: center;
  margin-top: -1px;
}

.dropdown {
  flex: 1;
  text-align: end;
}
