<div class="navbar navbar-light fixed-top navbar-expand-lg">
  <div class="container p-l-r-9">
    <div class="menu-bar">
      <div class="humbug">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="humbug">
        <!-- <a class="navbar-brand" href="#">S</a> -->
      </div>
    </div>
    <div class="humbug center-text" >
      <a class="navbar-brand" href="#">your local store</a>
    </div>
    <div class="dropdown show">
      <a
        id="dropdownMenuButton"
        class="profile_menu_image"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="hideProfileDropDown = !hideProfileDropDown"
      >
        <img
          class="login_avatar"
          *ngIf="userLoggedin && !loadingUser"
          [src]="loggedInUserDetails?.profile?.picture"
        />
      </a>
      <span class="profile_menu_image" *ngIf="loadingUser">...</span>
      <a
        class="btn btn-md btn-sm instagram-login-button"
        *ngIf="!userLoggedin && !loadingUser"
        role="button"
        href="/api/auth/google"
      >
        Login</a
      >

      <div
        class="dropdown-menu dropdown-menu-right"
        [hidden]="hideProfileDropDown"
        (mouseleave)="hideProfileDropDown = !hideProfileDropDown"
        style="display: block"
      >
        <a class="dropdown-item" routerLink="/account">Account</a>
        <a class="dropdown-item" routerLink="/logout">Logout</a>
      </div>
    </div>
  </div>
  <product-search class="container search-box"></product-search>
</div>
