/* -moz-keyframes shine {
  80% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
} */
@-webkit-keyframes shine {
  80% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes shine {
  80% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.content {
  display: flex;
  padding: 5px;
  max-height: 30vh;
  height: max-content;
  background-color: white;
}

@media (min-width: 800px) {
  .main-container {
    /* background-color: red; */
  }
}

p {
  margin: 0;
  padding: 0;
}

.noloader {
  background-color: #00000038;
  width: 100%;
  height: 24px;
  margin-bottom: 2px !important;
  position: relative;
  overflow: hidden;
  padding: 6px 24px;
}

.noloader::after {
  content: "";
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  width: 73%;
  height: 121%;
  position: absolute;
  z-index: 1;
  -webkit-animation: shine 1s infinite;
  animation: shine 1.2s infinite;
  background-size: 100%;
  background-image: linear-gradient(
    to right,
    rgb(255 255 255 / 33%),
    rgb(255 255 255 / 56%),
    rgb(255 255 255 / 0%)
  );
}

.content > .product-img {
  flex: 28%;
  margin-right: 15px;
  max-height: 68px;
  /* padding: 5px; */
  background-color: #bdb5b552;
  /* width: 100%; */
  /* flex:1 1 auto; */
}

.product-discp > .rating {
  font-size: 10px;
  padding: 5px 0px;
}

.rating > .rating-value {
  border-radius: 6px;
  padding: 0px 5px 0px 2px;
}

.rating-value > svg {
  vertical-align: baseline;
}

.product-img > img {
  width: 100%;
  height: 100%;
}

.content > .product-discp {
  flex: 72%;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}

.product-discp > .brad-name {
  font-size: smaller;
  font-weight: 340;
  padding: 0;
  margin: 0;
}

.product-discp > .text {
  font-weight: 450;
}

.price {
  font-size: 15px;
  font-weight: 700;
}
.price > .old {
  text-decoration: line-through;
  font-weight: 200;
  font-size: 12px;
}
.option {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 5px;
}
.add-to-cart {
  align-items: center;
  width: 9%;
  color: white;
  align-self: flex-end;
  background-color: tomato;
  margin: 0px 3px;
}
.card-footer-action {
  display: flex;
  background-color: transparent;
  position: relative;
}
.sales-batch {
  margin-right: auto;
  font-size: small;
  text-align: center;
  align-self: flex-start;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    171deg,
    rgb(124 208 13) 0%,
    rgb(88 177 19 / 86%) 25%,
    rgb(151 200 65) 100%
  );
  padding: 2px;
  width: 30%;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.sales-batch::after {
  /* background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0)
  ); */
}

.at-item {

  animation-name: scale-in-center;
  animation-duration: 0.099s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes scale-in-center {
  0%{
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}








