<!-- <p>payment works!</p> -->
<br />

<div class="main" [hidden]="_setDisplayMode">
  <div class="content">
    <div class="preloader" [hidden]="!isloading()"></div>
    payment works ....... are goes the call bal url and the paymet success
    screen. if needed remove loader.
  </div>
</div>
{{ _setDisplayMode }}
<div class="payment-card" [hidden]="!_setDisplayMode">
  <div class="floating-paymentform">
    <form id="seamlessBasic" style="position: relative">
      <table class="mainForm">
        <tr>
          <td>order id</td>
          <td><input type="text" name="orderId" [ngModel]="orderId" /></td>
        </tr>
        <tr>
          <td>order amount</td>
          <td>
            <input type="text" name="orderAmount" value="0" [ngModel]="currentOrderDetail?.totalAmountAfterDiscount" />
          </td>
        </tr>
        <tr>
          <td>customer name</td>
          <td><input type="text" name="customerName" value="payments" /></td>
        </tr>
        <tr>
          <td>customer email</td>
          <td>
            <input type="text" name="customerEmail" value="payment@societystore.co" />
          </td>
        </tr>
        <tr>
          <td>customer phone</td>
          <td><input type="text" name="customerPhone" value="1234512345" /></td>
        </tr>
      </table>
      <div id="resultDiv"></div>


      <table>
        <tr [hidden]="orderId == null">
          <!-- card -->
          <div class="container">
            <form>
              <div class="row card-form" *ngIf="payMode=='card'">
                <div class="col-50">
                  <h3>Payment</h3>
                  <label for="fname">Accepted Cards</label>
                  <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color: navy"></i>
                    <i class="fa fa-cc-amex" style="color: blue"></i>
                    <i class="fa fa-cc-mastercard" style="color: red"></i>
                    <i class="fa fa-cc-discover" style="color: orange"></i>
                  </div>
                  <label for="cname">Name on Card</label>
                  <input type="text" id="cname" name="cardname" placeholder="John More Doe" />
                  <label for="ccnum">Credit card number</label>
                  <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" />
                  <label for="expmonth">Exp Month</label>
                  <input type="text" id="expmonth" name="expmonth" placeholder="September" />
                  <div class="cvv-row">
                    <div class="grid-row">
                      <label for="expyear">Exp Year</label>
                      <input type="text" id="expyear" name="expyear" placeholder="2018" />
                    </div>
                    <div class="grid-row">
                      <label for="cvv">CVV</label>
                      <input type="text" id="cvv" name="cvv" placeholder="352" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="upi-form" *ngIf="payMode=='upi'">
                <label for="cname" *ngIf="upiValid !=='red'">Pay By </label>
                <label for="cname" *ngIf="upiValid =='red'">Enter Valid UPI Address </label>
                <input type="text" placeholder="UPI Address" [ngClass]="upiValid=='red'?'red':''" [formControl]="upiAddress" />
              </div>
              <div class="netb-form">
                <select type="text" id="nb" name="nb" *ngIf="payMode=='nb'" class="nb-dropdown" placeholder="Bank">
                  <option>
                    SBI (India)
                  </option>
                  <option>HDFC
                  </option>
                </select>
              </div> <!-- <input type="submit" value="Continue to checkout" class="btn" /> -->
            </form>
          </div>
        </tr>


        <div class="radioBttns" [hidden]="orderId == null">
          <tr>
            <td>
              <input class="btn" class="paymentRadioInput" type="radio" id="upi" checked name="paymentOption" value="upi" />
              <div class="btn" disabled for="upi" (click)="changePaymentMode('upi')">
                upi
              </div>
            </td>
            <td>
              <input class="btn" class="paymentRadioInput" type="radio" id="card" name="paymentOption" value="card" />
              <div class="btn" for="card" (click)="changePaymentMode('card')">
                card
              </div>
            </td>
            <!-- <td>
              <input class="btn" class="paymentRadioInput" type="radio" id="nb" name="paymentOption" value="nb" />
              <div class="btn" for="netBanking" (click)="changePaymentMode('nb')">
                net banking
              </div>
            </td> -->
          </tr>
        </div>


        <tr>

          <div class="action-btns">
            <p>
              Total Bill : {{currentOrderDetail?.totalAmountAfterDiscount}}
            </p>
            <!-- <button class="btn action" routerLink="/payment">Cancle</button> -->
            <button class="btn action" [disabled]="isOrderCreating" [hidden]="enablePayment" (click)="createOrderAndToPayment()">
              {{ !isOrderCreating ? "Order Now" : "...." }}
            </button>
            <!-- <button class="btn action" routerLink="/" style=" margin: 17px 6px;" [hidden]="!enablePayment">
              Cancle
            </button> -->
            <button [hidden]="!enablePayment" class="btn action" (click)="processPayment()">
              <img *ngIf="paymentProcessiong" src="../../../../assets/images/payment.gif" style="width: 48px;">
              <span *ngIf="!paymentProcessiong">PayNow</span>
            </button>
          </div>
        </tr>


      </table>


    </form>
  </div>
</div>
<iframe class="paypent-screen" *ngIf="showiframeScreen" [src]="paymentHash"></iframe>