<div class="container main-container">
  <product-search [isFlat]="true" (searchResult)="populateItemList($event)"></product-search>

  <!-- <item-list [list]="_list"></item-list> -->
  <div class="item-list">
    <div class="flex-action-container">
      <div class="flex-left">{{ _list?.length }} items found</div>
      <div class="flex-right">
        <button class="btn actn">Sort</button>
        <button class="btn actn">Filter</button>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let item of _list; let id = index">
        <div>
          <items-in-list [id]="'item_' + id" [item]="item" (click)="openConfirmation(item,id)" [viewOnly]="true">
          </items-in-list>
          <div class="text">
            <div class="ellipse" [ngClass]="(item.quantity <=9)?'ellipse-red':'' ">
              <a class="num"> {{item.quantity}}</a>
            </div>
            <a class="left" *ngIf="item.quantity >0"> Left</a>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>

<div class="overlay" (click)="hideOverlay($event)" *ngIf="hideOverLay">
  <div class="Content" (click)="prevent($event)">
    <div class="modal">
      <div class="content">
        <p style="
            text-align: center;
            font-size: 1.1em;
            border-bottom: 1px solid #80802d;
        ">Add this item to your online stock</p>
        <div class="product-img">
          <img data-src="{{ newInventoryItem?.image }}" />
          <form [formGroup]="inventoryForm" (submit)="addToInvontory()">
            <div class="input-group">
              <label> Quantity</label>
              <select formControlName="quantity">
                <option>1</option>
                <option>2</option>
                <option>5</option>
                <option>10</option>
              </select>
            </div>
            <div class="input-group">
              <label> Price Per item</label>
              <select formControlName="pricePerQuantity">
                <option *ngFor="let price of numSequence(newInventoryItem?.price?.new, -1)">
                  {{ price }}
                </option>
                <option selected value="{{ newInventoryItem?.price?.new }}">
                  {{ newInventoryItem?.price?.new }}
                </option>
                <option *ngFor="
                              let price of numSequence(newInventoryItem?.price?.new, 1)
                            ">
                  {{ price }}
                </option>
              </select>
            </div>
            <div class="input-group">
              <button class="" [disabled]="isSubmited">
                Add To Inventory
                <img [hidden]="!isSubmited" class="tick-icon"
                  src="https://storage.googleapis.com/societystore.appspot.com/cdn/img/tick.png">
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>