<div class="container ">
  <div class="row ">
    <div class=" col-md-9  border bg-white">
      <div class="row pt-1">
        <div class="col-md-7 pt-2">
          <h4>
            Share looks and Earn
          </h4>
          
          <span>
            Start selling looks to yours followers
          </span>
          <br>
          <br>
          <br>
          <a class="btn  btn-md btn-sm instagram-login-button" role="button" href="/signup"> Signup with Instagram</a>
        </div>
        <div class="col-md-5  mr-0 pr-0 text-right">
          <img src="../../assets/images/landingpageimage.png">
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="col-md-3  pr-0 pl-2 ">
      <div class="border bg-white px-2 pt-2 pb-2 text-center" style="height:100%;">
        <h3>
          Mylooks
        </h3>
        <p class="font-weight-light text-sm">
          Signup to start look sharing and earning
        </p>
        <a class="btn  btn-md btn-sm instagram-login-button" role="button" href="/api/auth/google"> Signup with google</a>
      </div>

    </div>
  </div>
  <hr class="vertical-spacer">
  <div class="row  ">
    <div class="col-12  border bg-white pt-2">
      <h4>How it works ?</h4>
      <div class="row  align-items-center ">
        <div class="col align-content-start ">
          <h5>
            Add looks
          </h5>
          <span>
            Signup and add your looks photos to your blog
          </span>

        </div>
        <div class="col ">

          <h5>
            Create blog
          </h5>
          <span>
            Select your fashion photos for your blog
            our AI assistant will tag your photos
          </span>

        </div>
        <div class="col ">

          <h5>
            Share and Earn
          </h5>
          <span>
            Share your blog profile with yours followers and earn with their purchase.
          </span>

        </div>


      </div>
    </div>

  </div>

</div>